<template>
    <app-layout>
        <template #header>
            <h2 class="font-semibold text-xl text-gray-800 leading-tight">
                Crea un nuevo Cliente con Inertia
            </h2>
        </template>

        <div class="py-12">
            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
                <CommonForm
                    :errors="errors"
                    v-model:name="form.name"
                    v-model:phone="form.phone"
                    v-model:email="form.email"
                    v-model:content="form.content"
                    @submit="submit"
                >
                    <template #buttons>
                        <loading-button
                            :loading="processing"
                            class="btn-indigo"
                            type="submit"
                        >
                            Crear
                        </loading-button>
                    </template>
                </CommonForm>
            </div>
        </div>
    </app-layout>
</template>

<script>
    import AppLayout from "../../Layouts/AppLayout";
    import CommonForm from "../../Components/Form";
    import LoadingButton from "../../Components/LoadingButton";
    export default {
        components: {LoadingButton, CommonForm, AppLayout},
        props: {
            errors: Object,
        },
        data() {
            return {
                processing: false,
                CommonForm: {
                    name: null,
                    phone: null,
                    email: null,
                    content: null,
                }
            }
        },
        methods: {
            submit() {
                this.processing = true;
                this.$inertia.post(this.route('customers.store'), this.form)
                    .then(() => this.processing = false);
            }
        }
    }
</script>
