<template>
    <app-layout>
        <template #header>
            <h2 class="font-semibold text-xl text-gray-800 leading-tight">
                Listado de Usuarios
            </h2>
        </template> 
        <div class="py-12">
            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
                <div class="bg-white overflow-hidden shadow-xl sm:rounded-lg">
                    <div class="p-5 mb-6 flex justify-between items-center">
                                           
                        
                        

                    

                        <inertia-link
                            class="bg-indigo-500 hover:bg-indigo-700 text-white font-bold py-3 mt-5 px-4 rounded"
                            :href="route('users.create')"
                        >
                            <span>Crear</span>
                            <span class="hidden md:inline">usuario</span>
                        </inertia-link>
                    </div>

                    <div class="bg-white rounded shadow overflow-x-auto">
                        <table class="w-full whitespace-no-wrap">
                            <tr class="text-left font-bold">
                                <th class="px-6 pt-6 pb-4"  v-for="column in columns" :load="log(columns)">{{column}}</th>
                                
                            </tr>
            
                            <item
                                v-for="item in items.data"
                                :key="item.id"
                                :item="item"
                            />
                        </table>
                    </div>

                    
                </div>
                <pagination :links="items.links" />
            </div>
        </div>
    </app-layout>
</template>


<script>
   
    import AppLayout from '../../Layouts/AppLayout.vue';
    import Pagination from '../../Components/Pagination.vue';
    import Item from '../../Components/Item.vue';


    export default {
        components: { AppLayout, Pagination, Item,},
        props: {
            items: Object,
            columns: Object,
            model: Object
        },
        methods: {
            log(column) {
                console.log(column)
            },
        }
        
          
    }
</script>