<template>

    <input type="date" v-model="selectedDate1">  
	<input type="date" v-model="selectedDate2"> 

</template>

<script>
require('moment')
import moment from 'moment'

export default {
	emits: ["dateFilter"],
	props: {
    	filteredStatesWorks: {
      		type: Object
    	}
  	},

    data () {
        return {
            selectedDate1:'',
			selectedDate2:'',
        }
   },
    
    computed: {
		filteredDates: function() {
			var date1 = this.selectedDate1;
			var date2 = this.selectedDate2
			
			if(date1 === '' && date2 === '') {
				return this.filteredStatesWorks;
			} else {
				return this.filteredStatesWorks.filter(function(work) {
					
					var check = moment(work.created_at).format('YYYY-MM-DD');
					console.log(moment(check).isBetween(date1, date2))
					return (moment(check).isBetween(date1, date2) || moment(check).isSame(date1,date2));
				});
			}
		}
	},
	watch: {
    filteredDates: {
      handler: function (value) {
        this.$emit("dateFilter", value);
		console.log(value);
      },
      immediate: true
    }
  },
        
     
}
</script>