<template>
    <form
        @submit.prevent="$emit('submit')"
        class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4"
    >
        <div class="mb-4">
            <text-input
                label="Tarea"
                :value="name"
                @input="$emit('update:name', $event.target.value)"
                :error="errors.name"
            />
        </div>
        

         <div class="mb-6">
            <text-area-input
                label="Contenido"
                :value="content"
                @input="$emit('update:content', $event.target.value)"
                :rows="5"
                :error="errors.content"
            />
        </div>


         <div class="mb-4">
            <vselect
                label= "Cliente"
                :value="customer_id"
                @input="$emit('update:customer_id', $event.target.value)"
                :error="errors.customer_id"
            />
        </div>

         <div class="mb-4">
            
        </div>

        <div class="px-8 py-4 border-t border-gray-200 flex justify-center items-center">
            <slot name="buttons" />
        </div>
    </form>
</template>

<script>
import TextInput from "./TextInput";
import TextAreaInput from "./TextAreaInput";
import vselect from "./select";




export default {
    name: "WorkForm",
    components: {
        TextInput, TextAreaInput, vselect, 
    },
    props: {
        errors: Object,
        name: {
            type: String,
        },
        content: {
            type: String,
        },
        customer_id: {
            type: Number,
        },
        
    }
   
}
</script>