<template>

        <div>
           <label
            class="block text-gray-700 text-sm font-bold mb-2"
        >
            {{label}}
        </label>

            <select v-model="selected" v-if="items.length" v-on:change="send">
                <option v-for="(item, index) in items" :key="index" v-bind:value="item.id" > 
                    {{ item.name }}
                </option>
            </select>
        </div>

</template>

<script>



export default {
    props: {
        label: String,
    },
    data () {
        
        return {
            items: [],
            selected: '',
            modelName: "Customer"
        }
    },
    created(){
        const params = {modelName: this.modelName}
        console.log(params)
       axios.post('/select', params)
            .then(res =>{
                this.items = res.data;
                 
            })
    },

    
    methods: {
        send() {
            this.$emit('select',this.selected)

 }

    }
   
}  

</script>