<template>



	<div class="filter">
		<label><input type="radio" v-model="selectedCategory" value="All" /> Todas</label>
		<label><input type="radio" v-model="selectedCategory" value="Abierto" /> Abiertas</label>
		<label><input type="radio" v-model="selectedCategory" value="Cerrado" /> Cerradas</label>
	</div>
	


</template>

<script>

export default {

	emits: ["stateFilter"],
	props: {
    	works: {
      		type: Object
    	}
  	},
  	
	  
	data() {
		return {
			selectedCategory: "All"
		}
		
	},

	
	computed: {
		filteredWorks: function() {
			var category = this.selectedCategory;
			
			if(category === "All") {
				return this.works;
			} else {
				return this.works.filter(function(work) {
					return work.state === category;
				});
			}
		}
	},

	
	watch: {
    filteredWorks: {
      handler: function (value) {
        this.$emit("stateFilter", value);
      },
      immediate: true
    }
  },
}


</script>